main {
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translate(-50%);
    width: 600px;
    max-width: calc(100% - 20px);
}

button {
    background-color: #122957;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 1px #ECECEE;
    background-color: rgba(250, 251, 251, 0.1);
}

textarea {
    height: 20vh;
    resize: vertical;
}


body {
    background-image: url("/icon/waves.svg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

.error-alert {
    background-color: #FCEDEC;
    margin-bottom: 10px;
    border: solid 1px #FDB2B2;
    color: #C55B60;
    text-align: center;
    font-size: small;
    padding: 15px 0;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    margin-bottom: 30px;
}