.action-icon {
    cursor: pointer;
    margin-left: 10px;
    width: 15px;
}

.news-element {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 1px #ECECEE;
    background-color: #FAFBFB;
    display: grid;
    grid-template-columns: 20% auto auto;
    column-gap: 2%;
}

p {
    color: #122957;
    font-weight: bold;
}

.news-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.news-description, .news-title {
    color: #122957;
    font-size: 0.8em;
    padding: 10px 0;
    overflow-y: auto;
    max-height: 10vh;
}

.news-title {
    font-weight: bold;
}

.success-flash {
    background-color: #F5FFEC;
    margin-bottom: 10px;
    border: solid 1px #CBFF98;
    color: #569C11;
    text-align: center;
    font-size: small;
    padding: 15px 0;
}

.text-wrapper {
    word-wrap: break-word;
}

.form-title-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2%;
}

#close-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}